$font-family-body: Segoe WPC,Segoe UI,sans-serif;

$space-2:   0.2rem;
$space-4:   0.4rem;
$space-6:   0.6rem;
$space-10:  1rem;
$space-11:  1.1rem;
$space-15:  1.5rem;
$space-20:  2rem;
$space-25:  2.5rem;